@font-face {
  font-family: 'Myriad Pro Light';
  src: local('Myriad Pro Light'), url(./assets/myriad-pro/MyriadPro-Light.woff) format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: local('Myriad Pro Bold'), url(./assets/myriad-pro/MYRIADPRO-BOLD.woff) format('woff');
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: local('Myriad Pro Regular'), url(./assets/myriad-pro/MYRIADPRO-REGULAR.woff) format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), url(./assets/SEGOEUI.TTF) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-stack-segoe);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

@media print {

  * {
    margin: 0;
    padding: 0;
  }

  .main {
    display: block;
    background-color: #fff;
    width: auto;
    height: auto;
  }

  @page {
    size: auto;
    margin: 0mm;
  }
}